<a href="https://colab.research.google.com/github/jadisiii/DS-Unit-1-Sprint-2-Statistics/blob/master/Ray_Arbizu_LS_DS_122_Chi2_Tests_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment - Practice Chi^2 Tests

Use the following dataset relating to math scores of students in two different Portugese schools:

<https://archive.ics.uci.edu/ml/datasets/Student+Performance>

### 1) Load the dataset specifically relating to math scores as a new dataframe.

There are two datasets in the `student.zip` file, make sure you use `student-mat.csv`.

In [2]:
import pandas as pd
import numpy as np

In [1]:
# YOUR WORK HERE
! wget "https://archive.ics.uci.edu/ml/machine-learning-databases/00320/student.zip"

--2020-07-25 14:33:18--  https://archive.ics.uci.edu/ml/machine-learning-databases/00320/student.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 20478 (20K) [application/x-httpd-php]
Saving to: ‘student.zip’

student.zip         100%[===================>]  20.00K  --.-KB/s    in 0.1s

2020-07-25 14:33:19 (154 KB/s) - ‘student.zip’ saved [20478/20478]

In [4]:
from google.colab import files
uploaded = files.upload()

Saving student-mat_01.csv to student-mat_01.csv

In [5]:
students = pd.read_csv('/content/student-mat_01.csv')

In [6]:
students.head()

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10

[5 rows x 33 columns]

### 2) Use Chi^2 tests and `stats.chi2_contingency()` to identify:
 - Two pairs of variables that are dependent (are associated with one another).
 - Two pairs of variables that are independent (have no significant relationship).

Does it make intuitive sense why the variables in these pairs might or might not show a relationship to one another?

In [7]:
# YOUR WORK HERE
import scipy.stats as stats

In [11]:
xtab01 = pd.crosstab(students['sex'], students['famsup'], margins=True)

xtab01

famsup   no  yes  All
sex
F        66  142  208
M        87  100  187
All     153  242  395

In [12]:
stats.chi2_contingency(xtab01)

(9.08082010999953,
 0.05911080533869397,
 4,
 array([[ 80.56708861, 127.43291139, 208.        ],
        [ 72.43291139, 114.56708861, 187.        ],
        [153.        , 242.        , 395.        ]]))

In [13]:
stats.chi2_contingency(xtab01)[0]

9.08082010999953

In [14]:
stats.chi2_contingency(xtab01)[1]

0.05911080533869397

In [15]:
xtab02 = pd.crosstab(students['sex'], students['internet'], margins=True)

In [16]:
xtab02

internet  no  yes  All
sex
F         38  170  208
M         28  159  187
All       66  329  395

In [17]:
stats.chi2_contingency(xtab02)[0]

0.7686495389163506

In [18]:
stats.chi2_contingency(xtab02)[1]

0.9426009281924268

### 3) Use NumPy to perform your own chi^2 test "from scratch" 

Pick any of the chi^2 tests that you ran in part 2 and try them on your own. You should get the same results that Scipy got for all four values returned from `chi2_contingency()`

In [ ]:
# YOUR WORK HERE

## Stretch goals:

### 1. Refactor your code so it is elegant, readable, and holds reusable code in functions.

In [ ]:
# YOUR WORK HERE



### 2. Check For Understanding - Study and write your own explanations/definitions for these topics:

- What is a sample "estimate" in statistics?

- What are hypothesis test? How are they useful?

- What is a "null hypothesis?"

- What is a p-value and what does it represent?

- What does it mean for something to be "statistically significant?"

- What is a test statistic and how does it relate to a p-value?

- What are "degrees of freedom" and how are they calculated in a 1-sample, 2-sample, and chi^2 test for independence?

## Resources

- [Interactive visualize the Chi-Squared test](https://homepage.divms.uiowa.edu/~mbognar/applets/chisq.html)
- [Calculation of Chi-Squared test statistic](https://en.wikipedia.org/wiki/Pearson%27s_chi-squared_test)
- [Visualization of a confidence interval generated by R code](https://commons.wikimedia.org/wiki/File:Confidence-interval.svg)
- [Expected value of a squared standard normal](https://math.stackexchange.com/questions/264061/expected-value-calculation-for-squared-normal-distribution) (it's 1 - which is why the expected value of a Chi-Squared with $n$ degrees of freedom is $n$, as it's the sum of $n$ squared standard normals)